h1 {
    color: #a9601a;
    text-align: center;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color:#A7A1AE;
    background-color:#1F2739;
    text-align:center;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }


  .container th h1 {
    font-weight: bold;
    font-size: 1em;
text-align: left;
color: #185875;
}
.container td {
    font-weight: normal;
    font-size: 1em;
-webkit-box-shadow: 0 2px 2px -2px #0E1119;
     -moz-box-shadow: 0 2px 2px -2px #0E1119;
          box-shadow: 0 2px 2px -2px #0E1119;
}

td a{
  display:block;
  width:100%;
}

.container {
  text-align: center;
  overflow: hidden;
  width: 120%;
  margin: 0 auto;
display: table;
}

.tables{display:flex;
justify-content:center;}

table{padding-left:200px;
padding-right:200px;}

.container td, .container th {
    padding-bottom: 2%;
    padding-top: 2%;
padding-left:2%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
    background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
    background-color: #2C3446;
}

.container th {
    background-color: #1F2739;
}

.container td:first-child { color: #66f1fb; }

.container tr:hover {
 background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
     -moz-box-shadow: 0 6px 6px -6px #0E1119;
          box-shadow: 0 6px 6px -6px #0E1119;
}

a{
    color:chocolate;
    text-decoration: none;
}

.apply td:hover{
  background-color: blue;
}

.container td:hover {
background-color: #FFF842;
color: #403E10;
font-weight: bold;

box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
transform: translate3d(6px, -6px, 0);

transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}


.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  

  .btn {
    margin-right: 100px;
    margin-left: 200px;
    text-decoration: none;
    border: 1px solid rgb(194, 117, 16);
    position: relative;
    height:70px;
    width: 170px;
    overflow: hidden;
    font-size: 20px;
    background-color: beige;
    border-radius: 5px;

  }
  
  .btn:hover {
    box-shadow: 1px 1px 25px 10px rgba(214, 194, 15, 0.4);
  }
  
  .btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(248, 229, 146, 0.4),
      transparent
    );
    transition: all 650ms;
  }
  
  .btn:hover:before {
    left: 100%;
  }
  

 

    
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 15%;
      color:coral;
    }
    
    /* The Close Button */
    
.modal-content span{

    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
 
  

}

.modal-content span:hover{
  color: black;
  text-decoration: none;
  cursor: pointer;

}

.search{
  float:right;
  display:flex;
}

.search input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}


.search button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}