<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Announcements</title>
    <link rel="stylesheet" href="/static/jobs.css"/>
  </head>
  <body style= "text-align:center">
    <a href="/announcements">Announements</a>
    <h1>Announcement</h1>
    <h2>{{title[0][8]}}</h2>
    <h3>title: {{title[0][1]}}</h3>
    <h3>initial date: {{title[0][4]}}</h3>
    <h3>deadline: {{title[0][5]}}</h3>
    <h3>working day: {{title[0][6]}}</h3>
    <h3>salary: {{title[0][7]}}</h3>
    
  </body>
</html>